body {
  margin: 0;
  padding: 0;
  background-color: rgb(130, 238, 202);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.main-view {
  padding: 15px;
}